#connecting {
  position: absolute;
  top: 40%;
  left: 40%;
  right: 40%;
  text-align: center;
  font-weight: bold;
}

#tabs {
  margin: 8px;
  box-shadow: rgba(0,0,128,0.25) 3px 3px 4px;
}

#observations-tab h2 {
  margin: 0;
}

#hypotheses {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 55px;
  bottom: 55px;
}

.tab {
 
}

.baloon {
  position: absolute;
  padding: 8px;
  max-width: 40%;
  max-height: 80%;
  overflow: hidden;
  border-radius: 15px;
  background-color: rgba(256,256,256,0.7);
  box-shadow: rgba(0,0,128,0.25) 3px 3px 4px;
}

.baloon:hover {
  cursor: pointer;
}

.baloon p {
  margin-top: 0;
  margin-bottom: 0;
  text-indent: -1ex;
  margin-left: 1ex;
}

.baloon .group {
  text-decoration: underline;
}

.baloon .evidence {
  font-size: 0.8em;
  padding-left: 2em;
  list-style-image: url(../images/evidence.png);
  margin: 0;
}

.baloon .discussion {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 0.8em;
  font-style: italic;
  margin-left: -2ex;
  list-style-image: url(../images/comment.png);
}

.baloon .discussion li:last-child {
  margin-bottom: 0.5ex;
}

.baloon .predicate {
  font-size: 1em;
  font-weight: bold;
}

.baloon.red { background-color: #F78181; }
.baloon.orange { background-color: #FE9A2E; }
.baloon.yellow { background-color: #F3F781; }
.baloon.green { background-color: #D0F5A9; }
.baloon.blue { background-color: #81BEF7; }
.baloon.purple { background-color: #BE81F7; }
.baloon.brown { background-color: #D8BF78; }
.baloon.gray { background-color: #BDBDBD; }
.baloon.pink { background-color: #F8E0E0; }

#planets {
  
}


svg circle {
  cursor: pointer;
}

